

h1, h2, h3, h4 {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}


#canvasFrame {
  position: relative;
  height: 400px;
  margin: auto;
  width: 800px;
}

#boardCanvas {
  border: 1px solid black;
  display: block;
  margin: auto;
}

.spaceCanvas {
  z-index: 2;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0px;
  left: 0px;
}


.modalPanel {
  position: fixed;
  z-index: 3;
  background: white;
  width: 300px;
  border: 3px solid black;
  height: 300px;
  top: 100px;
  left: calc(50% - 170px);
  padding: 20px;
  overflow: auto;
}

.modalPanel::-webkit-scrollbar {
  width: 12px;
  	background-color: #F5F5F5;
  }

  .modalPanel::-webkit-scrollbar-thumb
  {
	border-radius: 10px;
	background-color: black;
}

.modalPanel hr {
  width: 50%;
  border-top: 2px solid black;
  margin-bottom: 30px;
}

/*
#menu.left {
  left: calc(50% - 800px);
  transition: left 2s;
}*/

.modalPanel ul, h2, li {
  text-align: center;
  list-style: none;
  padding: 0px;
  margin-bottom: 20px;
}

.modalPanel li {
  font-size: 15px;
}

.hidden {
  display:none;
}

img {
  border: 2px solid black;
}

.fullWidth {
  width: 100%;
}

.right {
  float: right;
}

span.selected {
  text-decoration: underline;
}

form {
  padding: 30px;
}

form label {
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

form > input {
  display: block;
  margin: auto;

}

input#initials {
  width: 30px;
}
