

* {
  font-size: 18px;
}

h1 {
  font-size: 30px;
}

h2, h2 * {
  font-size: 25px;
}


h1, h2, h3, h4 {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}



#gameTitle {
display: block;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
height: 40px;
margin-bottom: 30px;
}

#menuIndicator {
  color: grey;
  display: block;
  text-align: center;
  margin: auto;
  font-size: 16px;
}

#canvasFrame {
  position: relative;
  height: 400px;
  margin: auto;
  width: 800px;
  box-shadow: 4px 2px 4px rgba(0,0,0,.2);
}
#countdown {
  position: absolute;
  top: -40px;
;}

#boardCanvas {
  border: 1px solid black;
  display: block;
  margin: auto;
}

.spaceCanvas {
  z-index: 2;
  position: absolute;
  height: 51px;
  width: 51px;
  top: 0px;
  left: 0px;
  transition: top .05s, left .05s;
}


.modalPanel {
  position: fixed;
  z-index: 3;
  background: white;
  width: 300px;
  border: 3px solid black;
  height: 300px;
  top: 140px;
  left: calc(50% - 170px);
  padding: 20px;
  overflow: auto;
}

.modalPanel::-webkit-scrollbar {
  width: 12px;
	background-color: #F5F5F5;
}

.modalPanel::-webkit-scrollbar-thumb
  {
	border-radius: 10px;
	background-color: black;
}

.modalPanel p:first-of-type {
  margin-top: 30px;
}

.modalPanel.winloss p {
  text-align: center;
}

.clickable {
  cursor: pointer;+
}

.modalPanel hr {
  width: 50%;
  border-top: 2px solid black;
  margin-bottom: 30px;
}

.modalPanel li {
  cursor: pointer;
}
/*
#menu.left {
  left: calc(50% - 800px);
  transition: left 2s;
}*/

.modalPanel ul, h2, li {
  text-align: center;
  list-style: none;
  padding: 0px;
  margin-bottom: 16px;
}

.modalPanel li {
  font-size: 18px;
}

.hidden {
  display:none;
}

img {
  border: 2px solid black;
}

.fullWidth {
  max-width: 100%;
  max-height: 75px;
  display: block;
  margin: auto;
}

.right {
  float: right;
}

span.selected {
  /*text-decoration: underline;*/
  background: black;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}

form {
  padding: 30px;
}

form label {
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

form > input {
  display: block;
  margin: auto;

}

input#initials {
  width: 40;px;
}

footer {
  position: fixed;
  left: calc(50% - 100px);
  bottom: 0px;
  margin: auto;
  width: 200px;
  display: block;
  margin-bottom: 20px;
  z-index: -1;
}

footer span {
  /*display: /block;*/
  /*width: 100px;*/
  text-align: center;
  margin: auto;
}

footer span * {
  margin: auto;
  margin-left: 10px;
  color: black;
  text-decoration: none;
  text-align: center;
}

footer span img {
  border: none;
  margin-bottom: -2px;
}
